{% from 'components/footer/links_list.html' import links_list %}

<footer class="bg-petros-800 mt-40">
  <div class="container flex flex-col md:flex-row items-center gap-6 md:gap-0 py-12">
    <div class="flex flex-col items-center gap-6 md:max-w-md">
      {% include 'components/logo.html' %}

      <p class="text-blue-100 font-medium text-center">Fazendo o mundo um lugar melhor formando pessoas brilhantes.</p>

      {% include 'components/footer/social_media.html' %}
    </div>

    <div class="grid grid-cols-2 lg:grid-cols-4 justify-items-center w-full gap-y-12">
      {{ links_list('Soluções', ['Marketing', 'Análise', 'Comércio', 'Ideias']) }}
      {{ links_list('Universidade', ['Sobre', 'Blog', 'Estágios', 'Jornal', 'Parceiros']) }}
      {{ links_list('Campus', ['Atlética', 'BAJA', 'Proatec', 'Cybers']) }}
      {{ links_list('Suporte', ['Atendimento', 'Instruções', 'Status', 'Mensagens']) }}
    </div>
  </div>

</footer>