{% from 'components/footer/links_list.html' import links_list %}

<footer class="bg-petros-800">
  <div class="container flex items-center py-12">
    <div class="space-y-4 max-w-md">
      {% include 'components/logo.html' %}

      <p class="text-blue-100 font-medium">Fazendo o mundo um lugar melhor formando pessoas brilhantes.</p>

      {% include 'components/footer/social_media.html' %}
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 w-full md:gap-y-12">
      {{ links_list('Soluções', ['Marketing', 'Análise', 'Comércio', 'Ideias']) }}
      {{ links_list('Universidade', ['Sobre', 'Blog', 'Estágios', 'Jornal', 'Parceiros']) }}
      {{ links_list('Campus', ['Atlética', 'BAJA', 'Proatec', 'Cybers']) }}
      {{ links_list('Suporte', ['Atendimento', 'Instruções', 'Status', 'Mensagens']) }}
    </div>
  </div>

</footer>