<ul class="flex items-center">
  <li>
    <a class="grid place-content-center -translate-x-4" target="_blank" href="https://github.com/JohnPetros/unipetros">
      <i class="ph-bold ph-facebook-logo text-2xl text-petros-200"></i>
    </a>
  </li>
  <li>
    <a class="grid place-content-center -translate-x-4" target="_blank" href="https://github.com/JohnPetros/unipetros"
      aria-label="instagram">
      <i class="ph-bold ph-instagram-logo text-2xl text-petros-200"></i>
    </a>
  </li>
  <li>
    <a class="grid place-content-center -translate-x-4" target="_blank" href="https://github.com/JohnPetros/unipetros"
      aria-label="twitter">
      <i class="ph-bold ph-twitter-logo text-2xl text-petros-200"></i>
    </a>
  </li>
  <li>
    <a class="grid place-content-center -translate-x-4" target="_blank" href="https://github.com/JohnPetros/unipetros"
      aria-label="github">
      <i class="ph-bold ph-github-logo text-2xl text-petros-200"></i>
    </a>
  </li>
</ul>