{% extends "layouts/dashboard/index.html" %}

{% from "components/modal.html" import modal %}
{% from "components/csv_button.html" import csv_button %}
{% from "components/search.html" import search %}
{% from "components/dropdown.html" import dropdown %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/select.html" import select %}
{% from "components/button.html" import button %}
{% from "components/alert.html" import alert %}

{% block dashboard_content %}

<div class="flex items-center gap-3">
  {% call modal(
  id="professor-modal", title='Adicionar professor',
  is_default_open=professor_form.errors | length
  )
  %}
  {% include "pages/admin/professors/create_professor_form/index.html" %}
  {% endcall %}

  {{
  csv_button(
  id="get-professors-csv",
  action="export",
  url=url_for("admin_views.get_professors_csv_view"),
  method="get",
  target=""
  )
  }}
</div>

<form
  hx-get="{{ url_for('admin_views.get_filtered_professors_view') }}"
  hx-target="#professors-table"
  hx-trigger="submit, keyup from:#search changed delay:500ms, search from:#search, change from:input[name='subjects_ids[]'] delay:500ms, change from:#pagination-input delay:500ms, change from:select[name='select'] delay:500ms"
  hx-swap="innerHTML"
  data-query-param="hx-get"
  class="flex flex-col">
  <div class="flex items-end gap-3 w-full mt-6">
    {{
    search(
    label='Pesquisar professor por nome ou e-mail',
    placeholder='Girafalles da Nôbrega',
    value=search_value
    )
    }}

    <div>
      {% call dropdown(title="Selecionar disciplina") %}
      <ul class="space-y-3" data-checklist-group="container">
        {% for subject_checkbox in subjects_checkbox_group %}
        <li>
          {{
          checkbox(
          id=subject_checkbox[1],
          name="subjects_ids[]",
          label=subject_checkbox[1],
          value=subject_checkbox[0],
          attributes='data-checklist-group=checkbox '
          ~ 'checked' if subject_checkbox[0] in selected_subjects_ids else ''
          )
          }}
        </li>

        {% endfor %}
      </ul>
      {% endcall %}
    </div>

  </div>

  <div class="flex items-center justify-start gap-6 mt-3">
    {{
    select(
    name='gender',
    options=[
    ('all', 'todos os gêneros'),
    ('male', 'masculino'),
    ('female', 'feminino')
    ],
    default=gender,
    attributes='data-select=select'
    )
    }}

    {{
    alert(
    id="delete-professors-alert",
    description="Tem certeza que deseja deletar esses registros?",
    onconfirm="trigger click on #delete-button then trigger submit on #delete-professors-form"
    )
    }}

    {{
    button(
    type="button",
    title="Deletar linhas",
    class="hidden bg-red-700 py-1 h-8 animate-pulse",
    attributes="
    id=delete-button
    data-table=delete-button
    data-modal-target=delete-professors-alert
    data-modal-toggle=delete-professors-alert
    ")
    }}
  </div>

  <input
    id="pagination-input"
    data-pagination="input"
    type="text"
    name="page"
    class="pointer-events-none"
    hidden>
</form>

<div class="relative mt-6">
  <div
    id="professors-table"
    data-table="container"
    data-pagination="container"
    class="h-96">
    {% include "pages/admin/professors/table/index.html" %}
  </div>
</div>

<script
  src="{{ url_for('static', filename='scripts/checkbox_group.js') }}"></script>
<script
  src="{{ url_for('static', filename='scripts/select.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/table.js') }}"></script>
<script
  src="{{ url_for('static', filename='scripts/pagination.js') }}"></script>
<script
  src="{{ url_for('static', filename='scripts/avatar_input.js') }}"></script>

{% endblock dashboard_content %}
