{% extends "layouts/dashboard/index.html" %}

{% from 'components/modal.html' import modal %}
{% from 'components/csv_button.html' import csv_button %}
{% from 'components/search.html' import search %}

{% block dashboard_content %}

<div class="flex items-center gap-3">
  {% call modal(
  id="professor-modal", title='Adicionar professor',
  is_default_open=professor_form.errors | length
  )
  %}
  {% include 'pages/admin/professors/professor_modal.html' %}
  {% endcall %}

  {{
  csv_button(
  id="professors_csv",
  action='import',
  url=url_for("admin_views.create_professors_by_csv_view"),
  target="#professors-table"
  )
  }}
</div>

<div class="mt-6">
  {{ search(label='Pesquisar professor por nome ou e-mail', placeholder='Girafalles da Nôbrega') }}
</div>

<div class="table-wrapper">
  {% include 'pages/admin/professors/table/index.html' %}
</div>

{% endblock dashboard_content %}