{% extends "layouts/dashboard/index.html" %}

{% from 'components/modal.html' import modal %}
{% from 'components/csv_button.html' import csv_button %}
{% from 'components/search.html' import search %}
{% from 'pages/admin/professors/professor_row.html' import professor_row %}

{% block dashboard_content %}

<div class="flex items-center gap-3">
  {% call modal(
  id="professor-modal", title='Adicionar professor',
  is_default_open=professor_form.errors | length
  )
  %}
  {% include 'pages/admin/professors/professor_modal.html' %}
  {% endcall %}
  {{ csv_button(action='export') }}
</div>

<div class="mt-6">
  {{ search(label='Pesquisar professor por nome ou e-mail', placeholder='Girafalles da Nôbrega') }}
</div>

<div class="mt-12">
  <table class="table">
    <thead class="table-head">
      <tr>
        <th scope="col" class="px-6 py-3">
          Nome
        </th>
        <th scope="col" class="px-6 py-3">
          E-mail
        </th>
        <th scope="col" class="px-6 py-3">
          Disciplinas
        </th>
        <th scope="col" class="px-6 py-3">
          Idade
        </th>
        <th scope="col" class="px-6 py-3">
          Gênero
        </th>
      </tr>
    </thead>

    <tbody>
      {% for professor in professors %}
      {{ professor_row(professor) }}
      {% endfor %}
    </tbody>

  </table>
</div>

{% endblock dashboard_content %}