{% extends "layouts/dashboard/index.html" %}

{% from 'components/modal.html' import modal %}
{% from 'components/csv_button.html' import csv_button %}
{% from 'components/search.html' import search %}

{% block dashboard_content %}

<div class="flex items-center gap-3">
  {% call modal(
  id="subject-modal", title='Adicionar disciplina',
  is_default_open=subject_form.errors | length
  )
  %}
  {% include 'components/subject_modal.html' %}
  {% endcall %}

  {{
  csv_button(
  id="subjects_csv",
  action='import',
  url=url_for("admin_views.create_subjects_by_csv_view"),
  target="#subjects-table"
  )
  }}
</div>

<div class="mt-6">
  {{ search(label='Pesquisar disciplinas por nome', placeholder='Engenharia de software') }}
</div>

<div class="mt-12">
  {% include 'pages/admin/subjects/table/index.html' %}
</div>

{% endblock dashboard_content %}