{% extends "layouts/dashboard/index.html" %}

{% from "components/badge.html" import badge %}
{% from "components/modal.html" import modal %}

{% block dashboard_content %}

<div class="flex items-center gap-6">
  <a href="{{ url_for('admin_views.handle_professors_page_view') }}"
    class="flex items-center gap-1">
    <i class="ph-bold ph-caret-left"></i>
    Voltar
  </a>

  {% call modal(id="professor-modal", title="Editar professor") %}

  {% include "pages/admin/professor_details/update_professor_form/index.html" %}

  {% endcall %}
</div>

<div id="professor">
  {% include "pages/admin/professor_details/professor.html" %}
</div>

{% endblock dashboard_content %}