{% from "components/avatar.html" import avatar %}
{% from "components/toast.html" import toast %}
{% from "components/tooltip.html" import tooltip %}
{% from "components/badge.html" import badge %}

{% set info_class =
"rounded-md flex items-center gap-2 p-3 bg-gray-200 text-gray-500" %}

{% if message %}

{{
toast(
id="professor-message",
message=message,
category="success",
onload="trigger click on #close-professor-modal"
)
}}

{% endif %}

<div class="flex items-center justify-center gap-24 mt-24">
  <div
    class="flex flex-col items-center space-y-8 animate-fade-right animate-duration-1000 animate-delay-[250ms]">
    {{ avatar(src=professor.avatar, alt=professor.name, class="w-48 h-48") }}

    <h1 class="font-bold">{{ professor.name }}</h1>

    <ul class="flex items-center gap-3">
      <li
        data-tooltip-target="phone-tooltip"
        class="{{ info_class }}">
        {{ tooltip(id="phone-tooltip", content="Telefone") }}

        <i class="ph-bold text-2xl ph-phone"></i>
        <span>{{ professor.phone }}</span>
      </li>
      <li
        data-tooltip-target="email-tooltip"
        class="{{ info_class }}">
        {{ tooltip(id="email-tooltip", content="E-mail") }}

        <i class="ph-bold text-2xl ph-envelope-simple"></i>
        <span>{{ professor.email }}</span>
      </li>
    </ul>
  </div>

  <div class="animate-fade-left animate-duration-1000 animate-delay-[250ms]">
    <h2 class="font-bold">Disciplinas</h2>
    <ul class="flex flex-wrap gap-2 mt-4">
      {% for subject in professor.subjects %}
      <li class="text-gray-500">
        {{ badge(subject.name) }}
      </li>
      {% endfor %}
    </ul>

    <h2 class="font-bold mt-4">Descrição</h2>

    <p class="max-w-lg mt-4">
      Na jornada acadêmica da Unipetros, o papel do professor se destaca como
      farol que ilumina o caminho do conhecimento. Mais do que meros
      transmissores de saber, os mestres da Unipetros se distinguem por suas
      qualidades excepcionais, tornando-se pilares fundamentais no processo de
      ensino e aprendizagem.
    </p>

    <dl class="flex items-center justify-between mt-4">
      <div>
        <dt class="font-bold">Idade</dt>
        <dd>{{ professor.age }}</dd>
      </div>
      <div>
        <dt class="font-bold">Idade</dt>
        <dd>
          {{ "masculino" if professor.gender == "male" else "feminino" }}
        </dd>
      </div>
    </dl>

    {% if related_professors | length > 0 %}
    <h2 class="font-bold mt-6">Professores das mesmas disciplinas</h2>
    <ul class="flex items-center flex-wrap">
      {% for professor in related_professors %}

      {% set tooltip_id = professor.id ~ "-tooltip" %}

      <li>
        {{ tooltip(id=tooltip_id, content=professor.name) }}
        <a
          data-tooltip-target="{{ tooltip_id }}"
          href="{{ url_for('admin_views.get_professor_details_page_view', professor_id=professor.id) }}"
          class="block">
          {{
          avatar(src=professor.avatar, alt=professor.name, class="w-12 h-12")
          }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>