@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  @apply rounded-md p-2
}

a, button {
  @apply  transition-all duration-200
}

a:focus, button:focus {
  @apply ring-2 ring-blue-300 outline-none
}

a:hover, button:hover {
  @apply opacity-75
}

q::before {
  content: "";
}

q::after {
  content: "";
}

.container {
  @apply w-full max-w-[980px] mx-auto px-6 lg:px-0
}