{% macro navigation() %}

<nav>
  <ul class="flex items-center flex-col md:flex-row gap-3">
    <li>
      <a class="text-petros-50 hover:text-blue-100 focus:text-blue-100"
        href="{{ url_for('home_views.get_contact_page_view') }}">
        Contato
      </a>
    </li>
    <li>
      <a class="text-petros-50 hover:text-blue-100 focus:text-blue-100"
        href="{{ url_for('home_views.get_about_page_view') }}">
        Sobre a universidade
      </a>
    </li>
  </ul>
</nav>

{% endmacro %}