{% macro balance_percentage(percentage, attributes) %}

<div>
  <span
    class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-green-900 dark:text-green-300">
    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
      viewBox="0 0 10 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M5 13V1m0 0L1 5m4-4 4 4" />
    </svg>
    <strong data-students-absents-chart="balance-percentage" {{ attributes }}>percentage</strong>
  </span>
</div>

{% endmacro %}