{% macro csv_button(id, url, target, action='import') %}

{% set types = {
'import': {
'icon': 'file-arrow-down',
'title': 'Importar'
},
'export': {
'icon': 'export',
'title': 'Exportar'
}
} %}

<form method="post" enctype="multipart/form-data" hx-post="{{ url }}" hx-trigger="change" hx-target="{{ target }}">
  <label for="{{ id }}"
    class="flex items-center gap-1 bg-transparent text-sm text-green-500 font-semibold cursor-pointer">
    <i class="ph-bold ph-{{ types[action]['icon'] }} text-lg"></i>
    {{ types[action]["title"] }} planilha
    <input type="file" id="{{ id }}" name="csv" hidden />
  </label>
</form>

{% endmacro %}