{% from 'components/csv_button.html' import csv_button %}
{% from 'components/input.html' import input %}
{% from 'components/avatar_input.html' import avatar_input %}
{% from 'components/radio_group.html' import radio_group %}
{% from 'components/checkbox_group.html' import checkbox_group %}
{% from 'components/checkbox.html' import checkbox %}

{% set grid_input = "grid grid-cols-2 gap-6" %}

<div class="mt-6">
  <div class="flex items-center gap-3">
    <p class="text-petros-800 text-lg font-semibold">Manualmente</p>
    ou
    {{
    csv_button(
    id="professor_csv",
    action='import',
    url=url_for("admin_views.create_professors_by_csv_view"),
    target="#new-professor"
    )
    }}
  </div>

  <form
    method="post"
    hx-post="{{ url_for('admin_views.create_professor_by_form_view') }}"
    hx-target="#professors-table"
    hx-trigger="submit"
    data-query-param="hx-post"
    enctype="multipart/form-data"
    class="space-y-6 w-full">
    {{ professor_form.csrf_token }}

    {{
    input(
    id='name',
    field=professor_form.name,
    label=professor_form.name.label,
    placeholder="Giraffales da Nôbrega",
    has_autofocus=True,
    errors=professor_form.name.errors
    )
    }}

    <div class="{{ grid_input }}">
      {{
      input(
      field=professor_form.email,
      label=professor_form.email.label,
      placeholder="john@unipetros.com",
      errors=professor_form.email.errors
      )
      }}
      {{
      input(
      field=professor_form.phone,
      label=professor_form.phone.label,
      placeholder="(12) 944028922",
      errors=professor_form.phone.errors
      )
      }}
    </div>

    <div class="{{ grid_input }}">
      <div class="space-y-2">
        {{ professor_form.birthdate.label(class="label") }}
        {{ professor_form.birthdate(class="input") }}
      </div>
      {{ radio_group(label="Gênero", name="gender",
      radios=professor_form.gender.choices) }}
    </div>

    <div class="{{ grid_input }}">
      {{
      input(field=professor_form.password,
      label=professor_form.password.label,
      placeholder="******",
      errors=professor_form.password.errors
      )
      }}
      {{
      input(field=professor_form.password_confirmation,
      label=professor_form.password_confirmation.label,
      placeholder="confirmação de senha",
      errors=professor_form.password_confirmation.errors
      )
      }}
    </div>

    {{
    avatar_input(
    label=professor_form.avatar.label,
    control=professor_form.avatar,
    errors=professor_form.avatar.errors
    )
    }}

    <div class="flex items-center gap-3 flex-wrap">
      {{
      checkbox_group(
      label=professor_form.subjects.label,
      checkboxes=professor_form.subjects,
      errors=professor_form.subjects.errors
      )
      }}
    </div>

    <div class="mx-auto pt-6 w-max">
      {{ professor_form.submit_button(class="button") }}
    </div>
  </form>
</div>