{% macro rows_skeleton(rows_count) %}

{% for _ in range(rows_count) %}
<tr data-loading="table-row" class="loading">
  <td>
    <div class="w-full h-12 bg-gray-300 animate-pulse"></div>
  </td>
  <td>
    <div class="w-full h-12 bg-gray-300 animate-pulse"></div>
  </td>
  <td>
    <div class="w-full h-12 bg-gray-300 animate-pulse"></div>
  </td>
  <td>
    <div class="w-full h-12 bg-gray-300 animate-pulse"></div>
  </td>
  <td>
    <div class="w-full h-12 bg-gray-300 animate-pulse"></div>
  </td>
</tr>
{% endfor %}

{% endmacro %}