{% macro select(id, options, attributes, name = "") %}

<div class="space-y-3">
  {% if id %}
  <label for="{{ id }}" class="label">Selecione uma
    opção
  </label>
  {% endif %}
  <select
    id="{{ id if id else name }}"
    name="{{ name }}" class="input"
    {{ attributes }}>
    {% for option in options %}
    {% set is_selected = "selected" if loop.index0 == 0 else "" %}

    <option value="{{ option[0] }}" {{ is_selected }}>
      {{ option[1] }}
    </option>
    {% endfor %}
  </select>
</div>

{% endmacro %}