{% from 'components/input_errors.html' import input_errors %}

{% macro textarea(id, label, placeholder, field, errors) %}

<div>
  <label for="{{ id }}" class="block mb-2 text-sm font-semibold text-blue-700 dark:text-blue-50">{{ label }}</label>

  {% if field %}
  {{ field(class='input min-h-24', placeholder=placeholder) }}
  {% else %}
  <textarea id="{{ id }}" name="{{ id }}" placeholder="{{ placeholder }}" class="input"></textarea>
  {% endif %}

  {{ input_errors(errors) }}
</div>

{% endmacro %}